// @use "./styles/startPage.scss";
// @use "./styles/loginPage.scss";
// @use "./styles/gamePage.scss";
// @use "./styles/modal.scss";

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #171718;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  &_item {
    display: block;
    width: 120px;
    height: 30px;

    button {
      width: 100%;
      height: 100%;
      background-color: rgb(131, 192, 39);
      color: black;
      text-transform: uppercase;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.garage_page,
.winners_page {
  padding-top: 40px;
  color: white;
}
