@use "./styles/mixins";

@use "./styles/carField";
//  @use "./styles/loginPage.scss";
// @use "./styles/gamePage.scss";
// @use "./styles/modal.scss";

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #171718;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  &_item {
    display: block;
    width: 120px;
    height: 30px;

    // button {
    // width: 100%;
    // height: 100%;
    background-color: rgb(131, 192, 39);
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    font-weight: 600;
    &:hover {
      background-color: rgba(131, 192, 39, 0.897);
      transition: 0.3s all;
    }
    // }
  }
}

.control_btns {
  display: flex;
}

.garage_page,
.winners_page {
  // padding-top: 20px;
  color: white;
}

.create_form,
.update_form {
  margin-top: 20px;
  // display: block;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    display: block;
    // background-color: #62b8da;
  }
  &_car {
    height: 27px;
    background-color: #f1fbff;
  }
  button {
    display: block;
    background-color: #62b8da;
    height: 27px;
    cursor: pointer;
    // border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: aliceblue;
    width: 70px;
    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
      background-color: #62b8dada;
    }
  }
}

.control_btns {
  margin-top: 20px;
  // display: block;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#race,
#reset {
  display: block;
  width: 23%;
  background-color: rgb(131, 192, 39);
  height: 27px;
  transition: 0.3s all;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: rgba(131, 192, 39, 0.897);
    transition: 0.3s all;
  }
}
#generate {
  width: 47%;
  height: 27px;
  background-color: #62b8da;
  transition: 0.3s all;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    transition: 0.3s all;
    background-color: #62b8dada;
  }
}

.garage_title {
  margin-top: 40px;
}
.garage_page-number {
  margin: 15px 0;
}
