// @use "./styles/startPage.scss";
// @use "./styles/loginPage.scss";
// @use "./styles/gamePage.scss";
// @use "./styles/modal.scss";

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
